<%- include('./../partials/head') -%>
<%- include('./../partials/nav') -%>
<br><br><br><br>
<div class="container">
	<div class="card">
		<div class="card-header">
			Upload
		</div>
		<div class="card-body" id="pie-chart">
			Upload
		</div>
	</div>
	
	
	
</div>
<%- include('./../partials/end') -%>